
<body>
    <h1>Episode Number <%=@episode.number%> aired on <%=@episode.date%></h1>

    <p>Date: <%=@episode.date%></p>
    <p>Episode #: <%=@episode.number%></p>

    <h3>Guests:</h3>
    <ul>
        <%@episode.guests.each do | guest |%>
            <li><%=guest.name%> - <a href = '/guests/<%=guest.id%>'><button><%=guest.name%> Page</button></a></li>
        <%end%>
    </ul>


    <a href = '/episodes'><button>Episode Index</button></a><br><br>

    <a href = '/episode/<%=@episode.id%>/edit'><button>Edit Episode</button></a><br><br>

</body>

