<h1>Edit <%=@appearance.guest.name%></h1>

<form method = 'POST' action = '/appearances/<%=@appearance.id%>'>
    <input type='hidden' name= '_method' value='PATCH'>
   <div>
        <label>Guest: </label>
            <select name = 'guest_id'>
                <% @guests.each do | guest | %>
                    <option value = '<%=guest.id%>'><%=guest.name%></option>
                <%end%>
        </select>
    </div>
    <div>
        <label>Episode: </label >
            <select name = 'episode_id'>
                <% @episodes.each do | episode | %>
                    <option value = '<%=episode.id%>'><%=episode.date%></option>
                <%end%>
            </select>
            </div>
    <button>Finalize Edits</button>

</form><br>
<a href = '/guests'><button>Guest Index</button></a>