<h1>Create new Appearance </h1>
<%= form_with model: Appearance.new do |f|%>
<%= f.label :rating %>
<%= f.select :rating, (1..5) %>
<%= f.label :guests %>
<%= f.collection_select :guest_id, Guest.all, :id, :name %>
<%= f.label :episode %>
<%= f.collection_select :episode_id, Episode.all, :id, :number %>
<%=f.submit%>

<%end%>
<%= link_to 'Appearances Home', appearances_path %>