<h1>New Appearance</h1>

<%= form_with(model: @appearance) do |form| %>
    <div>
    <%= form.label :guest %>
    <%= form.collection_select :guest_id, Guest.all, :id, :name %>
    </div>

    <div>
    <%= form.label :episode %>
    <%= form.collection_select :episode_id, Episode.all, :id, :date %>
    </div>

    <div>
    <%= form.label :rating %>
    <%= form.range_field :rating, :in => 1..5, :step => 1 %>
    </div>

    <%=form.submit%>
    <% end %>
